<div class="videoDivider"></div> 
<div class="main" id="main" role="main">
    <div class="logo"><img src="assets/AFLogo4.png"/></div>
    <div class="content anim">
        <div class="line">
            <div>
                <div class="text">COMING SOON</div>
            </div>
        </div>
        <div class="motto"><h1>Layaway for Air Travel? Yes!</h1>Search for a flight. Lock in the price.<br>Make payments over time.<br>No credit check necessary.</div>
        <div class="line2"></div>
    </div>
    <div class="form anim" >
        <%= render 'devise/registrations/form_new' %>
    </div>   
    <div class="social anim">
        <ul>
            <li><a href="http://twitter.com/FlyAirfordable"><img src="assets/social01.png"/></a></li>
            <li><a href="#"><img src="assets/social02.png"/></a></li>
            <li><a href="https://angel.co/airfordable-1"><img src="assets/social06b.png"/></a></li>
        </ul>
    </div>
</div>  <!--! end of #main -->