/* Global Reset & Standards ---------------------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 62.5%; }
body { background: white; font-family: 'Open Sans', sans-serif;
       font-weight: normal; font-style: normal; font-size: 14px;
       line-height: 1; color: #222222; position: relative;
       -webkit-font-smoothing: antialiased; 
       background-image: url(../img/bg.jpg);}

/* Links ---------------------- */
a img { border: none; }
a { color: #2ba6cb; text-decoration: none; line-height: inherit; }
a:hover { color: #2795b6; }
a:focus { color: #2795b6; }
p a, p a:visited { line-height: inherit; }
/* Misc ---------------------- */
.left { float: left; }
.right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.hide { display: none; }
.hide-override { display: none !important; }
.highlight { background: #ffff99; }
#googlemap img, object, embed { max-width: none; }
#map_canvas embed { max-width: none; }
#map_canvas img { max-width: none; }
#map_canvas object { max-width: none; }
/* Reset for strange margins by default on <figure> elements */
figure { margin: 0; }
/* Base Type Styles Using Modular Scale ---------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0; padding: 0; font-size: 14px; direction: ltr; }
p { font-family: inherit; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
p.lead { font-size: 17.5px; line-height: 1.6; margin-bottom: 17px; }
aside p { font-size: 13px; line-height: 1.35; font-style: italic; }
h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: bold; font-style: normal; color: #222222; text-rendering: optimizeLegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }
.subheader { line-height: 1.3; color: #6f6f6f; font-weight: 300; margin-bottom: 17px; }
em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 60%; line-height: inherit; }
code { font-weight: bold; background: #ffff99; }
/* Lists ---------------------- */
ul, ol, dl { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: outside; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }
ol { margin-left: 20px; }
/* Blockquotes ---------------------- */
blockquote, blockquote p { line-height: 1.5; color: #6f6f6f; }
blockquote { margin: 0 0 17px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 13px; color: #555555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited { color: #555555; }
abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222222; border-bottom: 1px solid #ddd; cursor: help; }
abbr { text-transform: none; }
input {font-family: 'Open Sans', sans-serif; outline: none;}

.main {width:960px; margin: 0 auto; margin-top: 30px;}
.logo {width: 200px; margin: 0 auto;}

.yourstyle { font-size: 32px; color:#333; width: 400px; text-align: center; margin: 0 auto; padding: 30px;}
.ibackground ul { list-style: none; width: 960px; display: table; margin-top: 20px;}
.ibackground ul li { width: 240px; text-align: center; float: left;}
.ibackground img {-webkit-box-shadow:  0px 0px 8px 1px rgba(00, 00, 00, 0.1); box-shadow:  0px 0px 8px 1px rgba(00, 00, 00, 0.1);}
.ibackground img:hover {-webkit-box-shadow:  0px 0px 12px 1px rgba(00, 00, 00, 0.2); box-shadow:  0px 0px 12px 1px rgba(00, 00, 00, 0.2);}

.vbackground {padding-top: 20px;}
.vbackground ul { list-style: none; width: 720px; margin: 0 auto;}
.vbackground ul li { width: 240px; text-align: center; float: left;}
.vbackground img {-webkit-box-shadow:  0px 0px 8px 1px rgba(00, 00, 00, 0.2); box-shadow:  0px 0px 8px 1px rgba(00, 00, 00, 0.1);}
.vbackground img:hover {-webkit-box-shadow:  0px 0px 12px 1px rgba(00, 00, 00, 0.4); box-shadow:  0px 0px 12px 1px rgba(00, 00, 00, 0.4);}

.subtitle {width: 960px; text-align: center; font-size: 14px; padding-top: 10px; padding-bottom: 10px; color: #666;}

