<br><br>
<p>
  Airfordable is an air travel reservation website that is designed to help its users achieve their air travel ambitions by locking in ticket prices and making flight rates reasonable with the use of a unique layaway payment plan that is exclusive to Airfordable. Airfordable can be seen as something like micro lender for air travel giving travelers micro loans that way they can put tickets on a payment plan before travel without having to check their credit.
</p>
<br><br>
Find out more about <a href="http://airfordable.herokuapp.com/site/about/">How It Works</a>
