<br>
<h2>How Does Airfordable Work?</h2>

<br><br>- Users will need to sign up for an invitation to use our service. This is to keep out travel marketers and distributors out the door.

<br><br>- User who wishes to purchase an airline ticket can do so over a set period of time using a payment plan.

<br><br>- Costumer will be given a suggested AF payment plan with auto payment function that  specifies the dates for payment withdrawals

<br><br>- Costumer has two weeks before departure to make payment without incurring any penalty charges.
<br><br>- Once final payment is received, the customer will be issued ticket confirmation details.

<br><br>- Costumer has 14 days prior to departure to receive AF credit towards a new ticket minus cancellation fee if they should cancel.

<br><br>- Should the costumer not make full payment as of 14 days prior to departure, the ticket will be cancelled and the user will be charged a cancellation fee and penalty fee.

<br><br>- The user will then be given airline credit for a new ticket to be used within a year.
</p>
