<!DOCTYPE html>
<html>
    <head>
        <title>The easiest way to do your tasks : Titanium</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=700; initial-scale=0.9; maximum-scale=1.0;">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="css/style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.VideoBg.js"></script>
        <script src="js/main.js"></script> 
        <style>body {background-image: url(img/bg4.jpg);}</style>
    </head>
    <body>

       
        <div class="videoDivider"></div> 
        <div class="main">
            <div class="logo"><img src="img/logo.png"/></div>
            <div class="content anim">
                <div class="line">
                    <div>
                        <div class="text">COMING SOON</div>
                    </div>
                </div>
                <div class="motto">The easiest way to get all your work done.<br> Share tasks, projects and files with anyone you work with.</div>
                <div class="line2"></div>
            </div>
            <div class="form anim">
                <form name="joinus">
                    <div class="formvalidate">Please enter the correct email!<div class="arrow"><img src="img/arrow01.png"/></div></div>
                    <div class="formsent">Thank you for joining beta testing! We'll inform you for the exclusive beta launch.<span>You can follow us on social media</span><div class="arrow"><img src="img/arrow02.png"/></div></div>
                    <input class="mail" placeholder="Join our exclusive beta testing"/>
                    <div class="joinusButton">Join Us</div>
                </form>
            </div>
            <div class="social anim">
                <ul>
                    <li><a href="#"><img src="img/social01.png"/></a></li>
                    <li><a href="#"><img src="img/social02.png"/></a></li>
                    <li><a href="#"><img src="img/social03.png"/></a></li>
                    <li><a href="#"><img src="img/social04.png"/></a></li>
                    <li><a href="#"><img src="img/social05.png"/></a></li>
                </ul>
            </div>
         
        </div> 
    </body>
</html>
 